<div class="main actor-index">
      <div class="container">
        <div class="row">
          <%= @actors.each do |s| %>
          <div class="actor col-xs-2">
            <%= image_tag s.image %>
            <h3> <%= s.first_name %><%= s.last_name %> </h3>
            <p><%= s.bio %> </p>
            <%= link_to "Learn more", actor_path(s) %>
          </div>
          
          <% end %>
          
      </div>
</div>
